<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>GameHub</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <h1>
      <a href="/">GameHub</a>
    </h1>
    <nav>

      <%- include('partials/nav') -%>

    </nav>
  </header>

  <main>
    <h3>404</h3>
    <p>La page que vous avez demandé n'éxiste pas</p>
  </main>

  <footer>
    
  </footer>
</body>

</html>