<%- include('partials/header') -%>
<%- include('partials/css') -%>

  <main>
    <h3>Grunt RPG</h3>
  </main>
  <div id="board"></div>

  <script src="/js/grunt.js" charset="utf-8"></script>
</body>
</html>