<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <title>GameHub</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/grunt.css">
</head>
<body>
  <header>
    <h1>
      <a href="/">GameHub</a>
    </h1>
    <%- include('partials/nav') -%>
  </header>
  <main>
    <h3>Grunt RPG</h3>
  </main>
  <div id="board"></div>

  <script src="/js/grunt.js" charset="utf-8"></script>
</body>
</html>