body {
    background: #ddd;
  }
  
  #player {
    width: 28px;
    height: 32px;
    background-image: url('../images/2SgTG1g.png');
    margin: auto;
  }
  
  .row {
    display: flex;
  }
  
  .cell {
    display: flex;
    width: 70px;
    height: 70px;
    border: 1px solid black;
    background-color: white;
  }
  
  .cell--highlight {
    background-color: #F0F;
  }
  
  .targetCell {
    background-color: #0F0;
  }
  
  .player--left {background-position: 0 96px;}
  .player--right {background-position: 0 64px;}
  .player--up {background-position: 0 32px;}
  .player--down {background-position: 0 0;}